# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.exe

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Flutter
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/android/.gradle/
app/android/app/build/
app/android/local.properties
app/ios/.symlinks/
app/ios/Flutter/flutter_export_environment.sh
app/windows/flutter/generated_plugin_registrant.cc
app/windows/flutter/generated_plugin_registrant.h
app/windows/flutter/generated_plugins.cmake

# NestJS
backend/dist/
backend/node_modules/

# Prisma
backend/prisma/*.db

# Gradle
app/android/.gradle/
app/android/gradle/
*.iml
